################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OpenTKTutorial3/obj/Debug
/packages/OpenTK.1.1.2349.61993
/packages/OpenTK.GLControl.1.1.2349.61993/lib/NET40
/packages/OpenTK.GLControl.1.1.2349.61993
